[submodule "firmware/libopencm3"]
	path = firmware/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "firmware/stlink"]
	path = firmware/stlink
	url = https://github.com/texane/stlink.git
