Source: bramble
Section: devel
Priority: optional
Maintainer: Jim Garlick <garlick.jim@gmail.com>
Standards-Version: 4.1.2
Build-Depends:
  debhelper (>= 10),
  libev-dev,
  gcc-arm-none-eabi,
  binutils-arm-none-eabi,
  libnewlib-arm-none-eabi,
  openocd

Homepage: https://github.com/worlickwerx/pi-cluster-two
Package: bramble
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openocd
Description:  Pi cluster utilities
